/* Font Family */
$logoFont: 'signalistregular';
$DINRoundProRegular :'DINRoundProRegular';
$DINRoundProBold :'DINRoundPro-Bold';
$DINRoundProMedi :'DINRoundPro-Medi';


/* Colors */
$purpol-color: #3F51B5;
$white-color: #FFFFFF;
$header-gray: #262626;
$black-color: #000000;
$light-black:#262626;
$grey:#FAFAFA;
$green:#4CAF50;
$red:#F44336;
$light-blue:#03A9F4;
$icon-green: #119122;
$cement:#D8D8D8 ;
$orange:#FF6D28;
$light-green:#35CB80 ;
$sky-blue: #00DAFD;
$dark-grey:#F5F5F5;
$dark-gray: #A9A9A9;

$bitcoin:#FF8C06;
$ethereum:#0683FF ;
$bitcoincash:#8DC652;
$bitcoingold:#45FF06 ;
$litecoin:#6F06FF ;
$ripple:#06E7FF ;
$omisego:#ff66cc;
$augur:#ffff66;
$tenx:#bfbbbb;
$bat:#F8521A;
$kybernet:#2d8c91;
$ox:#302C2C;
$funfair:#E70F6B;
$civic:#41B33F;
$eos:#000000;
$qrl:#ff0000;
$numeraire:#0000ff;
$golem:#0d1757;

$decline:#EC376C;
$waiting:#FF6D28 ;
$acceptable:#35CB80 ;

/* Responsice Pixels */
$window-sm: 767px;
$window-xs: 575px;
$window-mid:1366px;
$window-custom:1024px;
$window-diff:991px;
$window-midsmaller:1367px;
$window-midbigger:1750px;

/*for home page*/
$window-1600: 1600px;
$window-1200: 1200px;
$window-1014: 1014px;
$window-420:420px;
$window-380:380px;
$window-450:450px;
$window-470:470px;